.adobe
.android
.AndroidStudioPreview
.anyconnect
.aptitude
Archive
.audacity-data
.bash_history
.bashrc.local
.bundler
.cache
.codeintel
.config
.coqide.keys
.coqiderc
.dbus
.designer
.digilent_dvctbl.txt
.dmrc
Documents
Downloads
.dropbox*
Dropbox
.dvdcss
.eclipse
.emacs
.emacs.backup
.esd_auth
.evolution
.face
.fgfs
.filezilla
.font*
.fonts
.freeciv*
.gconf*
.gegl-0.0
.gem
.Genymobile
.gimp-2.6
.gksu.lock
.gnome*
.goldencheetah
.goutputstream*
.gradle
.gstreamer*
.gtk*
.heroku
.hplip
.ICEauthority*
.icedtea
.idlerc
.java
.kerneloops
.lastpass
.lesshst
linux-firewall.sh
.local
.lyx
.macromedia
.Mathematica
.matlab
.mission-control
.mozilla
Music
.mysql_history
.openoffice.org
.openshot
.pam_environment
Pictures
.pip
.pki
.printer-groups.xml
Private
.projects.ede
.pulse*
.saves-23875-pluto
.screenlayout
.Skype
.sqlite_history
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
strava
.swt
.texmf-var
.thumbnails
Videos
.vim/temp
.viminfo
.virt-manager
.VirtualBox
.wine
.workspace
.Xauthority*
.Xdefaults
.xemacs
.xscreensaver
.xsession*
.gimp-2.8
