.ICEauthority
.Mathematica/
.Xauthority
.aptitude/
.bash_history
.bashrc.local
.cache/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.evolution/
.face
.fgfs/
.fontconfig/
.freeciv-client-rc-2.3
.freeciv-server_history
.freeciv/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.kerneloops
.lesshst
.mission-control/
.mozilla/
.openoffice.org/
.pip/
.pki/
.printer-groups.xml
.pulse-cookie
.pulse/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.thumbnails/
.viminfo
.virt-manager/
.xscreensaver
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Dropbox/
linux-firewall.sh

