[user]
	email = bhood0@gmail.com
	name = Byron Hood
[push]
	default = current
[alias]
	st = status
	co = checkout
	cob = checkout -b
	ci = commit -a
	bd = branch -d
	up = push -u origin
	f = pull
	sq = merge --squash
	changes = diff HEAD^ HEAD
	bl = branch
